/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

  
/* PAGINA DOS GRÁFICOS 2023 */

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid red;
  background-color: #212124;
}


.header-left h1 {
  color: red;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: black;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: black;
  border: 3px solid red;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: red;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  color: red;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  border: solid red; 
}

.janela {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 10%;
  height: 100vh;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  margin: 0;
  position: relative;
}

.quadradoGrande {
  display: flex;
  position: relative;
  width: 300px;
  height: 500px;
  border: 2px solid #fff;
  overflow: hidden;

}

.notas {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  bottom: 500px;
}

#quadradoBaixo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.clique {
  width: 50px;
  height: 100%;
  border: 1px solid red;
}

.mensagem {
  position: absolute;
  top: 10px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%); 
  color: red;
  font-size: 24px;
  font-weight: bold;
  z-index: 400;

}

.tituloJogo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.janela  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.janela button {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  color: red;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 100px;
  cursor: pointer;
  border: solid red; 
}
.tituloJogo {
  color: red;
}

.regras {
  color: red;
  font-size: 20px;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 10px;     
}

body::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 20px;    
  border: 3px solid red;
}