@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.janela {
  display: flex;
}

.div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons>* {
    margin-left: 30px;
  }
  
  /* pagina graficos */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
  }
  
    
  /* PAGINA DOS GRÃFICOS 2023 */
  
  .header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid red;
    background-color: #212124;
  }
  
  
  .header-left h1 {
    color: red;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: black;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: black;
    border: 3px solid red;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: red;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: black;
    color: red;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
    border: solid red; 
  }

  .container {
    margin-right: 100px;
  }
.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 30%;
  
  height: 100vh;
  overflow: auto;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}
input {
    margin-bottom: 10px;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid red;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: red;
  width: 120px;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid red;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: red;
  width: 80px;
}