body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: black;
}
.header {
    border-bottom: 4px solid red;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.logo {
    width: 75px;
}
.navbar {
    font-size: large;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: red;
    align-items: center;
}